CipherSOAPClient/xml-resources/web-service-references/CipherSoap/wsdl/localhost_8080/CipherSOAP/CipherSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Encryption/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Encryption/" name="CipherSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://Encryption/" schemaLocation="http://localhost:8080/CipherSOAP/CipherSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="decipher">
<part name="parameters" element="tns:decipher"/>
</message>
<message name="decipherResponse">
<part name="parameters" element="tns:decipherResponse"/>
</message>
<message name="FaultBean">
<part name="fault" element="tns:ArgumentException"/>
</message>
<message name="Cipher">
<part name="parameters" element="tns:Cipher"/>
</message>
<message name="CipherResponse">
<part name="parameters" element="tns:CipherResponse"/>
</message>
<portType name="CipherSoap">
<operation name="decipher">
<input wsam:Action="http://Encryption/CipherSoap/decipherRequest" message="tns:decipher"/>
<output wsam:Action="http://Encryption/CipherSoap/decipherResponse" message="tns:decipherResponse"/>
<fault message="tns:FaultBean" name="FaultBean" wsam:Action="http://Encryption/CipherSoap/decipher/Fault/FaultBean"/>
</operation>
<operation name="Cipher">
<input wsam:Action="http://Encryption/CipherSoap/CipherRequest" message="tns:Cipher"/>
<output wsam:Action="http://Encryption/CipherSoap/CipherResponse" message="tns:CipherResponse"/>
<fault message="tns:FaultBean" name="FaultBean" wsam:Action="http://Encryption/CipherSoap/Cipher/Fault/FaultBean"/>
</operation>
</portType>
<binding name="CipherSoapPortBinding" type="tns:CipherSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="decipher">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FaultBean">
<soap:fault name="FaultBean" use="literal"/>
</fault>
</operation>
<operation name="Cipher">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FaultBean">
<soap:fault name="FaultBean" use="literal"/>
</fault>
</operation>
</binding>
<service name="CipherSoap">
<port name="CipherSoapPort" binding="tns:CipherSoapPortBinding">
<soap:address location="http://localhost:8080/CipherSOAP/CipherSoap"/>
</port>
</service>
</definitions>